.GameName{
  text-align: center;
  font-size: 50px;
  font-family: 'Tillana', cursive;
}

.about{
  text-align: center;
  font-family: 'Eczar', serif;
}
img{
  height: 150px;
  width: 150px;
}
#board{
  margin: auto;
  background-color: #DEB887;
  height: 500px;
  width: 500px;
}
/*make squares and float*/
.Square{
  height: 150px;
  width: 150px;
  /*border: 2px solid black;*/
  float: left;
}
/*shift squares right*/
.zero, .three, .six{
  margin-left: 19px;
}
/*shift squares down*/
.zero, .one, .two{
  margin-top: 19px;
}
/*make grid*/
.zero{
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
.one{
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}
.two{
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}
.three{
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
.four{
  border: 2px solid black;
}
.five{
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}
.six{
  border-top: 2px solid black;
  border-right: 2px solid black;
}
.seven{
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.eight{
  border-top: 2px solid black;
  border-left: 2px solid black;
}
/*finish making grid*/

#bottomText{
  text-align: center;
  font-family: 'Eczar', serif;
}
