$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';

.gameboard {
  background-color: $boardColor;
  height: 500px;
  max-width: 500px;
}

.square {
  border: 2px solid $gridColor;
  height: 150px;
  max-width: 150px;
}

// .dropdown-toggle {
//   visibility: hidden;
// }
//
// #sign-up {
//   visibility: visible;
// }
//
// #log-in {
//   visibility: visible;
// }
